---
http_interactions:
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/foxes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - b0d90990
      App-Key:
      - f1ee25ddec99ee809a81af4423a83f50
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |-
        {
            "metadata": {
                "provider": "Oxford University Press"
            },
            "results": [
                {
                    "id": "foxes",
                    "language": "en",
                    "lexicalEntries": [
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Third",
                                    "type": "Person"
                                },
                                {
                                    "text": "Singular",
                                    "type": "Number"
                                },
                                {
                                    "text": "Present",
                                    "type": "Tense"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "fox",
                                    "text": "fox"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": "Verb",
                            "text": "foxes"
                        },
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Plural",
                                    "type": "Number"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "fox",
                                    "text": "fox"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": "Noun",
                            "text": "foxes"
                        }
                    ],
                    "word": "foxes"
                }
            ]
        }
  recorded_at: Wed, 30 May 2018 16:04:54 GMT
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/entries/en/foxes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - b0d90990
      App-Key:
      - f1ee25ddec99ee809a81af4423a83f50
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - text/html
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>404 Not Found</title>
        <h1>Not Found</h1>
        <p>No entry available for 'foxes' in 'en'</p>
  recorded_at: Wed, 30 May 2018 16:04:55 GMT
recorded_with: VCR 4.0.0
